
body {

  color: #484848;
	background-color: #f6f6f6;
	font-family: 'Oxygen', sans-serif;
	font-weight: lighter;
	margin: 15px 5%;
  font-size: 16px;

}

h1 {

  font-size: 2em;
}

h2 {

  font-size: 1.7em;
}

h3 {

  font-size: 18px;
}

p {

  font-size: 16px;
}

ul {

  list-style: none;
  margin-left: -40px;
}

ul li {

  margin-bottom: 25px;
}
.bottom {
  background-color: "red";
  border-top: 2px solid "#484848";

}

a {

  font-weight: normal;
  color: #ff6666;
}


a.site-title {

  font-size: 24px;
  color: #484848
}

a.page-link {

  margin-right: 20px
}

#download {
  padding-left: 5px;
  font-size: 14px;
}

footer {

  margin-top: 200px;
}
