---
layout: default
---

<h4>"In this introduction to the theory, tools, and techniques of three-dimensional imaging, students study the structure of light and the ways in which it can convey information, and familiarize themselves with the basic tool of holography, the laser. Students make several different styles of holograms, some viewable in laser light, and some in white light. Techniques involving spatial juxtaposition and montage are also explored. The focus is on developing a working knowledge of the medium from the perspective of its artistic possibilities."</h4>

<h1>Syllabus<span id="download"><a href="uploads/LewisHoloSyllabus17.pdf.zip">(Download PDF)</a></span></h1>

<h4>Getting Started</h4>
8/31
<br>
Class Intro: Go over the course agenda, projects, and syllabus
<br>
<a href="uploads/holo1.zip">Intro to Holography</a>
<br>
Shoot monochromatic transmission hologram as a class
<br>
<strong>Bring objects to shoot for next class</strong>
<br>
<br>

<h4>Intro to Holography</h4>
9/5
<br>
<a href="{{ site.baseurl }}{% post_url 2016-09-01-week1 %}">Intro to Monochromatic Transmission</a>
<br>
Demo: Optimal shooting objects/placement and Monochromatic Transmission setup
<br>
Project 0: Shoot 3 Mono Transmission
<br><br>

9/7
<br>
Let's Talk About Lasers
<br>
Finish shooting 3 transmission 
<br><br>

<h4>Fundamentals of Light</h4>
9/12
<br>
Project 0.5: Demo and shoot monochromatic reflection holograms (3)
<br>
<strong>Brainstorm and come prepared with 2 ideas for Project One</strong>
<br><br>

9/14
<br>
i/o Lab authorization
<br>
Intro to Rhino (those who enrolled late finish shooting holograms for Project 0)
<br>
Begin modeling objects for Project 1
<br>
Surrealist Manifesto reading for next class (Pages version or PDF if you don't have Pages)
<br>
Read the underlined text, and the rest if you want!
<br>
<a href="uploads/SurrealistManifesto.zip">Surrealist Manifesto (Pages version)</a>
<br>
<a href="uploads/SurrealistManifestoPDF.zip">Surrealist Manifesto (PDF version)</a>
<br><br>

<h4>Toward an Absolute Reality</h4>
9/19
<br>
Present Project 0
<br>
Continue working on Project 1
<br>
Go over reading
<br>
<a href = "reflectionFault.JPG">Reflection Hologram Fault Finder</a>
<br><br>

9/21
<br>
Finish Project 1 models
<br>
Shoot Project 1 holograms - mono reflection and/or transmission
<br><br>

<h4>From Optics to Art</h4>
9/26
<br>
Workday
<br><br>

9/28
<br>
Workday
<br>
Critique Project 1
<br><br>

<h4>Full Color</h4>
10/3
<br>
Finish Project 1 Critique
<br>
Lesson: Full-color transmission
<br>
Practice shoot
<br><br>

10/5
<br>
Zsofi Valyi-Nagy Hologram History talk
<br>
Shoot two more full color transmission
<br>
Brainstorm Project 2
<br>
Reading for next class:
<br>
<a href = "Zec_Aesthetic.pdf.zip">The Aesthetic Message of Holography</a>
<br><br>

<h4>Absurdity</h4>
10/7
<br>
MAKEUP CLASS (Tentative Date)
<br>
Go over reading
<br>
Workday
<br><br>


10/10
<br>
Class Canceled
<br><br>


10/12
<br>
Lesson: Full color reflection
<br>
Shoot full color reflection
<br>
Work on Project 2
<br><br>

<h4>Fields of Vision</h4>
10/17
<br>
Workday
<br>
<a href="ilumogram.pdf">Geola Specs</a>
<br><br>

10/19
<br>
Finish Project 2
<br>
Critique Project 2
<br>
Brainstorm for HOLOween show
<br><br>

<h4>Break the Rules</h4>
10/24
<br>
Workday - modify old projects for show, or create new ones
<br>
Individual check-ins
<br><br>

10/26
<br>
Finish prepping for show
<br><br>

10/27
<br>
HOLOween Show from 5-7pm in the Flex Space (TBD)
<br><br>

<h4>In the realm of the Pataphysical</h4>
11/2
<br>
<a href="{{ site.baseurl }}{% post_url 2016-11-01-week10 %}">3D Modeling: Maya Intro</a>
<br>
<a href = "Geola_Specs.JPG">Geola LANDSCAPE Specs</a>
<br>
<a href = "geolaPortrait.JPG">Geola PORTRAIT Specs</a>
<br>
Figure out teams and brainstorm Project 3
<br>
Workday
<br>
Reading for Next Class:
<br>
Crystallography excerpt by Christian Bok
<br><br>

11/7
<br>
Workday
<br><br>

<h4>Digi-holo</h4>
11/9
<br>
Workday
<br>
Submit Project 3 to Geola by end of class
<br><br>


<h4>Poetics of Science</h4>
11/14
<br>
Workday
<br><br>

11/16
<br>
Intro to Project 4 (final)
<br>
4x5 Demo Transmission and Reflection
<br>
Workday
<br>Read <a href="https://ntrs.nasa.gov/archive/nasa/casi.ntrs.nasa.gov/20030022668.pdf">Colonization of Venus</a> for next class.
<br><br>

<h4>A Network of Holographers</h4>
11/21
<br>
Discuss reading
<br>
Modern Day Holography Resources and Opportunities
<br>
Present Project 4 ideas and plans
<br>
Workday
<br><br>

<h4>Four Dimensional Art</h4>
11/28
<br>
Workday
<br>
Project 4 Progress Check in
<br>
Submit Print to Geola for final (if using for final)
<br><br>


<h4>Week 15</h4>
CRIT WEEK
<br><br>

<h4>Four Dimensional Art ctd.</h4>
11/30
<br>
Workday
<br><br>

12/12
<br>
Workday
<br>
Prep for final Crit
<br><br>

<h4>The End</h4>
12/14
<br>
Final Projects Critique
<br><br><br><br>

*subject to change


  <!-- <ul class="post-list">
    {% for post in site.posts reversed %}
      <li>
        <h4>{{ post.title }}</a></h4>

        <p>{{ post.content }}</p>
      </li>
    {% endfor %}
  </ul> -->

<!--
  <ul class="post-list">
    {% for post in site.posts reversed %}
      <li>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <p>{{ post.content }}</p>
      </li>
    {% endfor %}
  </ul> -->
