---
layout: default
---

<h4>"In this introduction to the theory, tools, and techniques of three-dimensional imaging, students study the structure of light and the ways in which it can convey information, and familiarize themselves with the basic tool of holography, the laser. Students make several different styles of holograms, some viewable in laser light, and some in white light. Techniques involving spatial juxtaposition and montage are also explored. The focus is on developing a working knowledge of the medium from the perspective of its artistic possibilities."</h4>

<h1>Syllabus<span id="download"><a href="uploads/Lewis_BeginningHolographySyllabus_Fall16.zip">(Download PDF)</a></span></h1>

<h4>Getting Started</h4>
9/1
<br>
Class Intro: Go over the course agenda, projects, and syllabus
<br>
<a href="uploads/holo1.zip">Intro to Holography</a>
<br>
Shoot monochromatic transmission hologram as a class
<br>
<strong>Bring objects to shoot for next class</strong>
<br>
<br>

<h4>Intro to Holography</h4>
9/6
<br>
<a href="{{ site.baseurl }}{% post_url 2016-09-01-week1 %}">Intro to Monochromatic Transmission</a>
<br>
Demo: Optimal shooting objects/placement and Monochromatic Transmission setup
<br>
Project 0: Shoot 3 Mono Transmission
<br><br>

9/8
<br>
Intro to Rhino
<br>
i/o Lab authorization
<br><br>

<h4>Fundamentals of Light</h4>
9/13
<br>
Lesson: What are Lasers?
<br>
Brainstorm Project
<br>
Rhino Workshop <a href="RoboFrog.zip">(Download model)</a>
<br>
Begin modeling objects for Project 1
<br><br>

9/15
<br>
Brainstorm and define Project 1
<br>
Project 0.5: Demo and shoot monochromatic reflection holograms
<br>
Surrealist Manifesto reading for next class (Pages version or PDF if you don't have Pages)
<br>
Read the underlined text, and the rest if you want!
<br>
<a href="uploads/SurrealistManifesto.zip">Surrealist Manifesto (Pages version)</a>
<br>
<a href="uploads/SurrealistManifestoPDF.zip">Surrealist Manifesto (PDF version)</a>
<br><br>

<h4>Toward an Absolute Reality</h4>
9/20
<br>
EK Lab authorization
<br>
Continue working on Project 1
<br>
Go over reading
<br><br>

9/22
<br>
Finish Project 1 models
<br>
Shoot Project 1 holograms - mono reflection and/or transmission
<br>
<a href = "reflectionFault.JPG">Reflection Hologram Fault Finder</a>
<br><br>

<h4>From Optics to Art</h4>
9/27
<br>
Workday
<br><br>

9/29
<br>
Workday
<br>
Critique Project 1
<br><br>

<h4>Full Color</h4>
10/4
<br>
Finish Project 1 Critique
<br>
Lesson: Full-color transmission
<br>
Practice shoot
<br><br>

10/6
<br>
See Moholy-Nagy Show at AIC
<br>
Shoot two more full color transmission
<br>
Brainstorm Project 2
<br>
Reading for next class
<br>
<a href = "Zec_Aesthetic.pdf.zip">The Aesthetic Message of Holography</a>

<br><br>
<h4>Absurdity</h4>
10/11
<br>
Go over reading
<br>
Lesson: Full color reflection
<br>
Shoot full color reflection
<br>
Work on Project 2
<br><br>

10/13
<br>
Workday
<br>
Reading for next class
<br><br>

<h4>Fields of Vision</h4>
10/18
<br>
Go over reading
<br>
Workday
<br><br>

10/20
<br>
Critique Project 2
<br>
Show 4x5 techniques (quicker lesson)
<br>
Practice shooting 4x5 Transmission
<br>
Practice shooting 4x5 Reflection
<br><br>

<h4>Break the Rules</h4>
10/25
<br>
Project 3 brainstorm
<br>
Workday
<br>
Individual check-ins
<br><br>

10/27
<br>
Workday
<br>
Reading for next class
<br><br>

<h4>In the realm of the Pataphysical</h4>
11/1
<br>
Go over reading
<br>
Project 3 critique
<br><br>

11/3
<br>
Project 4 brainstorm
<br>
Workday
<br>
Reading for next class
<br><br>

<h4>Digi-holo</h4>
11/8
<br>
Go over reading
<br>
Workday
<br><br>

11/10
<br>
Workday
<br>
Submit Project 4 to Zebra
<br>
Reading for next class
<br><br>

<h4>Poetics of Science</h4>
11/15
<br>
Intro to Project 5 (final)
<br>
Go over reading
<br>
Workday
<br><br>

11/17
<br>
Workday
<br><br>

<h4>A Network of Holographers</h4>
11/22
<br>
Project 4 Critique
<br>
Apply for holo residency at OSU
<br><br>

<h4>Quantum</h4>
11/29
<br>
Workday
<br>
Project 5 Progress Check in
<br><br>

12/1
<br>
Workday
<br>
Submit Print to Zebra for final
<br>
Reading for next class
<br><br>

<h4>Week 15</h4>
CRIT WEEK
<br><br>

<h4>Four-Dimensional Art</h4>
12/13
<br>
Go over reading
<br>
Prep for crit day
<br><br>
12/15
<br>
Final Projects Critique
<br><br><br><br>

*subject to change


  <!-- <ul class="post-list">
    {% for post in site.posts reversed %}
      <li>
        <h4>{{ post.title }}</a></h4>

        <p>{{ post.content }}</p>
      </li>
    {% endfor %}
  </ul> -->

<!--
  <ul class="post-list">
    {% for post in site.posts reversed %}
      <li>
        <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <p>{{ post.content }}</p>
      </li>
    {% endfor %}
  </ul> -->
